body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0px;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.intro {
    color: whitesmoke;
    font-size: 30px;
    padding: 30px;
    text-align: center;
}
h1 {
    color: whitesmoke;
    font-size: 60px;
    text-align: center;
    text-align: center;
}

h2 { 
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    text-align: center;
}
p {
    font-size: 30px;
    color: whitesmoke;
    padding: 20px;
}