body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    color: whitesmoke;
    font-size: 60px;
    text-align: center;
}

h2 { 
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
}
p {
    color: whitesmoke;
    font-size: 20px;
    padding: 20px;
}
h3 {
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
}
li {
    color: whitesmoke;
    font-size: 30px;
    padding: 20px;
    
}
h4 { 
    color: whitesmoke;
    font-size: 50px;
    padding: 20px;
   
}